<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clawhub.auth.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.clawhub.auth.entity.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_operator_id" jdbcType="VARCHAR" property="createOperatorId" />
    <result column="create_operator_name" jdbcType="VARCHAR" property="createOperatorName" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_operator_id" jdbcType="VARCHAR" property="updateOperatorId" />
    <result column="update_operator_name" jdbcType="VARCHAR" property="updateOperatorName" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>
</mapper>